@font-face {
    font-family: "Lato";
    src: url(../Font/Lato/Lato-Black.ttf),
    url(../Font/Lato/Lato-BlackItalic.ttf),
    url(../Font/Lato/Lato-Bold.ttf),
    url(../Font/Lato/Lato-BoldItalic.ttf),
    url(../Font/Lato/Lato-Italic.ttf),
    url(../Font/Lato/Lato-Light.ttf),
    url(../Font/Lato/Lato-LightItalic.ttf),
    url(../Font/Lato/Lato-Regular.ttf),
    url(../Font/Lato/Lato-Thin.ttf),
    url(../Font/Lato/Lato-ThinItalic.ttf)
    ;
}
:root{

    /* colors light-mode */
    /* --color-light-1: #780000; */
    --color-light-1: #1f3b4b;
    /* --color-light-2: #c1121f; */
    --color-light-2: #6B778D;
    --color-light-body: #e8dfd1;
    --color-light-header: #003049;
    --color-light-text: #669bbc;
    --color-light-background-nav: hsla(42, 37%, 84%, .4);

    /* color dark-mode */
    --color-dark-1: #324A5F;
    --color-dark-2: #1B2A41;
    --color-dark-body: #0C1821;
    --color-dark-header: #000000;
    --color-dark-text: #CCC9DC;
    --color-dark-background-nav: hsla(200, 56%, 7%, .4);

    /* Thème Clair - Couleurs définies */
    --color-1: var(--color-light-1);
    --color-2: var(--color-light-2);
    --color-3: var(--color-light-body);
    --color-4: var(--color-light-header);
    --color-5: var(--color-light-text);
    --color-background: var(--color-light-background-nav);

    transition: 
    --color-1 0.3s ease,
    --color-2 0.3s ease,
    --color-3 0.3s ease,
    --color-4 0.3s ease,
    --color-5 0.3s ease;
}

.dark-theme {
    /* Thème Sombre - Couleurs définies */
    --color-1: var(--color-dark-1);
    --color-2: var(--color-dark-2);
    --color-3: var(--color-dark-body);
    --color-4: var(--color-dark-header);
    --color-5: var(--color-dark-text);
    --color-background: var(--color-dark-background-nav);
    transition: 
    --color-1 0.3s ease,
    --color-2 0.3s ease,
    --color-3 0.3s ease,
    --color-4 0.3s ease,
    --color-5 0.3s ease;
}

/* Configuration du bouton de thème */
.change-theme {
    color: var(--accent-color);
    cursor: pointer;
    font-size: 1.5rem;
    transition: transform 1.3s ease, color 0.3s ease;
}

/* .change-theme:hover {
    transform: rotate(180deg);
} */

/* ************************************************ */
::-webkit-scrollbar{
    width: .6rem;
    /* border-radius: .5rem; */
    background-color: var(--color-5);
}
::-webkit-scrollbar-thumb{
    background-color: var(--color-4);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: "Lato";
    background-color: var(--color-3);
    color: var(--color-5);
    margin: 0;
    transition: all 0.3s ease-in-out;
}
a:active{
    color: var(--color-5);
}

.header{
    position: fixed;
    top: 0;
    height: 8vh;
    width: 100%;
    background-color: var(--color-4);
    display: flex;
    justify-content: center;
    z-index: 999;
}
nav {
    height: 100%;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav a{
    color: var(--color-5);
    text-decoration: none;
}
.nav__menu{
    position: fixed;
    transform: translate(-50%, -50%);
    bottom: 5%;
    left: 50%;
    width: 30%;
    min-width: 400px;
    background-color: var(--color-background);
    backdrop-filter: blur(10px);
    transition: .5s;
    border-radius: 50px;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}
.nav__list{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2.25rem;

}
.nav__item{
    width: 50px;
    height: 50px;
    color: var(--color-3);
    display: flex;
    justify-content: center;
    text-align: center;
}
.nav__link{
    font-size: 1.25rem;
    align-content: center;
    color: var(--color-5);
}
a.active-link{
    color: var(--color-4);
    background-color: var(--color-5);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    box-shadow:
    inset 0px 1px 3px rgba(255, 255, 255, 0.6),
    inset 0px -2px 3px rgba(0, 0, 0, 0.6);
}
/* a.active-link:active{
    color: var(--color-5);
    background-color: var(--color-4);
} */
.nav__menu .nav__list .nav__item .nav__link .bx{
    font-size: 1.25rem;
}
.bx-moon::before{
    content: "\eb94";
}
/*** Main ***/
.home_sec{
    padding-top: 8vh;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_content{
    padding-top: 2rem;
    margin-top: -100px;
    display: grid;
    row-gap: 3rem;
}
.home_sec .home_content .home_data{
    text-align: center;
}
.home_sec .home_content .home_data p, 
.home_sec .home_content .home_data h1,
.home_sec .home_content .home_data h3{
    text-align: center;
}
.home_data p{
    margin: 0;
    margin-bottom: 0.25rem;
    font-size: 1.25vw;
}
.home_data h1{
    font-size: 2vw;
    margin: 0;
}
.home_data h2{
    font-size: 1.75vw;
    margin-bottom: 2.5rem;
}
@media screen and (max-width: 1000px) {
    .home_data p{
        font-size: 2.5vw;
    }
    .home_data h1{
        font-size: 4vw;
    }
    .home_data h2{
        font-size: 3.5vw;
    }
}
#anim_1, #anim_2, #anim_3 {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid transparent;
    animation-fill-mode: forwards;
    position: relative;
}
#anim_1 {
    animation: typing 2s steps(20) forwards, 
               blink 0.8s step-end forwards;
               
}
#anim_2 {
    animation: typing 2s steps(20) forwards 1.1s, 
               blink 0.8s step-end forwards 2s;
    width: 0;

}
#anim_3 {
    animation: typing 2s steps(20) forwards 3.1s, 
               blink 0.8s step-end forwards 4s; 
               /* back-typing 2s steps(20) forwards 8s, 
               blink 0.8s step-end forwards 8s, 1s; */
    width: 0;

}

@keyframes typing {
    0% {
        width: 0;
        opacity: 1;
        border-right-color: transparent;
    }
    99.5% {
        width: 100%;
        opacity: 1;
        border-right-color: black;
    }
    100% {
        width: 100%;
        opacity: 1;
        border-right-color: transparent;
    }
}
@keyframes back-typing {
    0% { 
        opacity: 1; 
        width: 100%; 
        border-right-color: black; 
    }
    99.5% { 
        width: 0; 
        opacity: 1; 
        border-right-color: black; 
    }
    100% { 
        width: 0; 
        opacity: 1; 
        border-right-color: transparent; 
    }
}
@keyframes blink {
    0%, 100%{
        opacity: 1; 
        border-color: transparent;
    }
    50% {
        opacity: 1; 
        border-color: black;
    }
}


.home_button{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}
.home_button a button{
    font-weight: 600;
    border-radius: .8rem;
    border: 2px solid var(--color-5);
    color: var(--color-5);
    padding: 1rem;
    transition: .3s;
}
.home_button a .CV{
   background-color: transparent; 
}
.home_button a .CV:hover{
    background-color: var(--color-1);
}
.home_button a .aPropos{
    background-color: var(--color-1);
}
.home_pics{
    justify-self: center;
    width: 190px;
    height: 293px;
    /* background: linear-gradient(189deg, hsla(var(--first-hue), var(--sat), var(--lig), 1), hsla(var(--first-hue), var(--sat), var(--lig), .2)); */
    border-radius: 10rem 10rem 1rem 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
}
.home_pics img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}
.inter_sec{
    backdrop-filter: blur(10px);
}
.about_sec{
    min-height: 100vh;
    width: 100%;
    padding-top: 8vh;
}
.section__subtitle{
    display: block;    
    font-size: 1.25vw;
}
.section__title{
    font-size: 1.75vw;     
    margin-bottom: 2.5rem;   
}
.section__title, .section__subtitle{
    text-align: center;
}
section{
    height: 100vh;
}
@media screen and (max-width: 1000px) {
    .section__subtitle{
        font-size: 2.5vw;
    }
    .section__title{
        font-size: 3.5vw;
    }
}
@media screen and (max-width:600px) {
    .nav__menu{
        position: fixed;
        bottom: 5%;
        width: 100%;
        min-width: none;
    }
}